html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #dedede url('/images/pattern.png') left top repeat;
}

#container {
    min-height: 100%;
    position: relative;
}

#page {
    min-height: 100%;
    padding-bottom: 70px;
    overflow: hidden;
}

.login {
    width: 100%;
    margin-top: 100px;
}

.login .title {
    font-size: 25px;
    margin-bottom: 10px;
}

.login form {
    width: 400px;
    margin: 0 auto;
    background-color: #efefef;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    padding: 20px;
    text-align: center;
}

.login form input {
    width: 250px;
    margin-bottom: 5px;
}
